.card {
  width: 100%;
  padding: 0 0 32px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px 2fr 220px;
  grid-template-areas:
    "img main details"
    "img place details"
    "img clinic button";
  justify-content: space-between;
  column-gap: 106px;
  row-gap: 16px;
  border-bottom: 1px solid $main-grey-light;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  @include breakpoint(desktop) {
    column-gap: 56px;
  }
  @media screen and (max-width: 1064px) {
    grid-template-columns: 200px 2fr;
    grid-template-areas:
      "img main"
      "img place"
      "img clinic"
      "img details"
      "img button";
    column-gap: 48px;
  }
  @include breakpoint(tablet) {
    grid-template-columns: 100px 2fr;
  }
  @include breakpoint(mobile) {
    margin: 0 auto;
    grid-template-columns: 62px 2fr;
    column-gap: 16px;
    border-bottom: none;
    padding: 12px 11px 14px;
  }
  @include breakpoint(mobile-narrow) {
    grid-template-areas:
      "img main"
      "img place"
      "img clinic"
      "img details"
      "button button";
  }

  &_profile {
    cursor: default;

    @media screen and (max-width: 1064px) {
      grid-template-columns: 300px 2fr;
      grid-template-areas:
        "img main"
        "place details"
        "clinic details"
        "clinic button";
    }

    @include breakpoint(mobile-wide) {
      grid-template-columns: 200px 1fr;
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-template-areas:
        "img"
        "main"
        "place"
        "clinic"
        "details"
        "button";
    }
  }

  &_profile:last-child {
    border-bottom: 1px solid $main-grey-light;

    @include breakpoint(mobile) {
      border-bottom: none;
      padding: 0;
    }
  }
}

.photo {
  grid-area: img;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  height: 200px;
  border-radius: 175px;
  background-color: $main-grey-light;

  @include breakpoint(tablet) {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
  }

  @include breakpoint(mobile) {
    min-width: 62px;
    max-width: 62px;
    height: 62px;
    max-height: 62px;
  }

  &_profile {
    @media screen and (max-width: 1064px) {
      min-width: 300px;
      max-width: 300px;
      height: 300px;
      max-height: 300px;
    }

    @include breakpoint(mobile-wide) {
      min-width: 200px;
      max-width: 200px;
      max-height: 200px;
      height: 200px;
    }

    @include breakpoint(mobile) {
      min-width: 300px;
      max-width: 300px;
      height: 300px;
      max-height: 300px;
    }
  }
}

.maininfo {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: center;
}

.card_profile .name {
  font-size: 32px;
  line-height: 45px;
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.name {
  font-size: 32px;
  line-height: 45px;

  @include breakpoint(tablet) {
    font-size: 28px;
    line-height: 45px;
  }
  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 120%;
  }
}

.card_profile .position {
  font-size: 24px;
  line-height: 29px;
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.position {
  color: $main-grey;
  font-size: 24px;
  line-height: 28px;

  @include breakpoint(tablet) {
    font-size: 20px;
    line-height: 24px;
  }

  @include breakpoint(mobile) {
    font-size: 12px;
    line-height: 140%;
  }
}

.address {
  color: $main-grey;
  margin-left: 22.5px;
}

.card_profile .location {
  font-size: 20px;
  line-height: 24px;

  @include breakpoint(mobile) {
    text-align: center;
  }
}

.card_profile .distance {
  font-size: 20px;
  line-height: 24px;
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.card_profile .clinic {
  font-size: 18px;
  line-height: 25px;
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.card_profile .address {
  font-size: 18px;
  line-height: 25px;
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.distance,
.location {
  color: $success;
}

.distance,
.address {
  @include breakpoint(desktop) {
    margin-left: 22.5px;
  }
  @include breakpoint(mobile) {
    margin-left: 20px;
  }
}

.place {
  grid-area: place;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  line-height: 24px;

  @include breakpoint(desktop) {
    flex-direction: column;
    align-items: flex-start;
    line-height: 24px;
    gap: 8px;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 120%;
    gap: 4px;
  }
}

.clinic {
  grid-area: clinic;
  color: $main-grey;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  line-height: 140%;

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 120%;
    gap: 4px;
  }
}
.with_icon {
  display: flex;
  align-items: center;
  gap: 9.5px;

  @include breakpoint(mobile) {
    gap: 7px;
  }
}

.location_img {
  width: 13px;
  height: 15px;
  background-image: url(../../assets/location-green.svg);
  background-repeat: no-repeat;
}

.clinic_img {
  width: 13px;
  height: 13px;
  background-image: url(../../assets/clinic.svg);
}

.card_profile .price {
  font-size: 40px;
  line-height: 48px;
}

.price {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;

  @include breakpoint(tablet) {
    font-size: 32px;
    line-height: 39px;
  }
  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 25px;
  }
}

.details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 6px;
  @include breakpoint(mobile-wide) {
    gap: 8px;
  }
  @include breakpoint(mobile) {
    gap: 2px;
    font-size: 18px;
    line-height: 140%;
  }
}

.phone {
  height: 46px;
  background-color: transparent;
  color: $accent;
  border-radius: 8px;
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.card_profile .phone {
  max-width: 228px;
}
.card_profile .button {
  max-width: 228px;
}

.phone,
.button {
  grid-area: button;
  width: 228px;

  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 22px;
  }

  @include breakpoint(mobile-narrow) {
    width: 100%;
    height: 54px;
  }
}

.card_profile .primary {
  display: inline;
  margin-top: 10px;
}

.primary {
  color: $accent;
  margin-bottom: 14px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.card_profile .subtext {
  font-size: 18px;
  line-height: 22px;
}

.subtext {
  @include breakpoint(mobile) {
    font-size: 12px;
    line-height: 14px;
  }
}
