.section {
  &_main {
    margin-top: 35px;
  }

  &_search {
    margin-top: 50px;
  }

  @include breakpoint(tablet) {
    &_main {
      margin-top: 32px;
    }
    &_search {
      margin-top: 40px;
    }
  }
  @include breakpoint(mobile) {
    &_main {
      margin-top: 40px;
    }
    &_search {
      margin-top: 30px;
    }
  }
}

.title {
  // font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: $main-black;
  margin: 0;

  &_main {
    font-size: 24px;
    line-height: 28px;
  }

  &_search {
    font-size: 40px;
    line-height: 48px;
  }

  @include breakpoint(mobile) {
    &_main {
      font-size: 18px;
      line-height: 21px;
    }
    &_search {
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.form {
  display: flex;
  flex-flow: row nowrap;
  // gap: 8px;

  &_main {
    margin-top: 9px;
  }

  &_search {
    margin-top: 50px;
  }

  @include breakpoint(tablet) {
    flex-direction: column;
    gap: 4px;

    &_main {
      margin-top: 14px;
    }
    &_search {
      margin-top: 15px;
    }
  }
  @include breakpoint(mobile) {
    gap: 16px;

    &_main {
      margin-top: 21px;
    }
    &_search {
      margin-top: 19px;
    }
  }
}

.input {
  padding: 16px 189px 16px 16px;
  border: 1px solid $main-grey;
  height: 48px;
  border-radius: 16px 0 0 16px;

  &::placeholder {
    font-family: "Arimo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $main-grey;
  }

  &_main {
    width: 286px;
  }

  &_search {
    width: 607px;
  }

  @include breakpoint(tablet) {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
  }
}

.button {
  margin-left: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  &_main {
    max-width: 188px;
  }

  &_search {
    max-width: 200px;
  }

  @include breakpoint(tablet) {
    max-width: 100%;
    margin: 0;
  }
}
