.section {
  width: 100%;
  max-width: 1175px;
  margin: -270px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;

  @include breakpoint(desktop) {
    padding: 0 100px;
    margin: -230px auto 0;
  }
  @include breakpoint(mobile) {
    padding: 0 16px;
    margin: 40px auto 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 806px;
  margin-bottom: 70px;
  @include breakpoint(tablet) {
    max-width: 390px;
    margin-bottom: 45px;
  }
  @include breakpoint(mobile) {
    max-width: 390px;
    margin-bottom: 30px;
  }
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 86.49%;
  letter-spacing: 0.03em;
  color: $main-black;
  margin: 0;
  max-width: 806px;
  @include breakpoint(tablet) {
    font-size: 72px;
  }
  @include breakpoint(mobile) {
    font-size: 50px;
  }
}

.subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  color: $main-black;
  margin: 0;
  @media screen and (max-width: 950px) {
    font-size: 28px;
    line-height: 34px;
  }
  @include breakpoint(mobile) {
    font-size: 23px;
    line-height: 130%;
  }
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $main-black;
  margin: 0;
  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 21px;
  }
}

.form {
  display: flex;
  flex-flow: row nowrap;
  @include breakpoint(tablet) {
    flex-direction: column;
    gap: 4px;
    margin-top: 5px;
  }
  @include breakpoint(mobile) {
    gap: 16px;
    margin-top: 12px;
  }
}

.input {
  padding: 16px 189px 16px 16px;
  border: 1px solid $main-grey;
  border-radius: 16px 0 0 16px;
  width: 286px;
  height: 48px;
  &::placeholder {
    font-family: "Arimo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $main-grey;
  }
  @include breakpoint(tablet) {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
  }
}

.select {
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
  width: 180px;
  height: 48px;
  border-right: 1px solid $main-grey;
  font-family: $add-text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $main-black;
  &:nth-child(3) {
    border-radius: 0 16px 16px 0;
  }
  @include breakpoint(tablet) {
    width: 100%;
    border-radius: 8px;
    &:nth-child(3) {
      border-radius: 8px;
    }
  }
}

.button {
  margin-left: 8px;
  max-width: 188px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  @include breakpoint(tablet) {
    max-width: 100%;
    margin: 0;
  }
}
