.section {
  &_main {
    margin-top: 50px;
  }

  &_search {
    margin-top: 100px;
  }

  &_therapist {
    padding: 0;
  }

  @include breakpoint(tablet) {
    &_main {
      margin-top: 65px;
    }
    &_search {
      margin-top: 70px;
    }
  }
  @include breakpoint(mobile) {
    &_main {
      margin-top: 18px;
      padding: 0;
    }
    &_search {
      margin-top: 43px;
    }
  }
}

.iframe {
  border-radius: 8px;
  &_main {
    height: 460px;
  }

  &_search {
    height: 256px;
  }

  &_therapist {
    height: 400px;
    width: 476px;
  }

  @include breakpoint(tablet) {
    &_main {
      height: 274px;
    }
    &_search {
      height: 276px;
    }

    &_therapist {
      height: 400px;
      width: 100%;
    }
  }
  @include breakpoint(mobile) {
    &_main {
      height: 295px;
      border-radius: 0;
    }
    &_search {
      height: 256px;
    }
  }
}
