.container {
  width: 185px;
  position: relative;
}

.desktop {
  @include breakpoint(tablet) {
    display: none;
  }
}

.burger{
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.button {
  font-size: 18px;
}

.dropdown {
  margin-top: 10px;
}
