.container {
  width: 185px;
  position: relative;
}

.desktop {
  @include breakpoint(mobile-wide) {
    display: none;
  }
}

.burger{
  display: none;

  @include breakpoint(mobile-wide) {
    display: block;
    margin: 30px auto 0;
  }

  @include breakpoint(mobile){
    margin: 30px 0 0;
  }
}

.button {
  font-size: 18px;
}

.dropdown {
  margin-top: 10px;
}
