.container {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid $main-grey-light;
  }

  :hover {
    color: $accent-dark;
  }
}
