.container {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 96px);
  margin-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  backdrop-filter: blur(5px);
background-color: #acacac41;
  @include breakpoint(desktop) {
    height: calc(100vh - 87px);
    margin-top: 87px;
  }
  @include breakpoint(mobile) {
    height: calc(100vh - 82px);
    margin-top: 82px;
  }
}
.content {
  
  position: relative;
  width: 383px;
  height: 182px;
  background: #fff;
  border-radius: 8px;
  gap: 24px;
  left: auto;
  padding: 45px 60px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(mobile) {
    width:95vw;
    padding: 45px 50px 30px;
  }
}
.close {
  position: absolute;
  top: 19px;
  right: 28px;
  width: 11px;
  height: 11px;
  background-image: url(../../assets/close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  @include breakpoint(mobile) {
    top: 17px;
    right: 26px;
    width: 10px;
    height: 10px;
  }
}

.question {
  color: $main-black;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 19px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 46px;
  @include breakpoint(mobile) {
    gap: 29px;
  }
}

.confirm {
  width: 88px;
  height: 54px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  @include breakpoint(mobile) {
    width: 101px;
    height: 41px;
    font-size: 16px;
    line-height: 19px;
  }
}

.text {
  padding-right: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $main-grey;
  background-image: url(../../assets/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center right 0;
  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}
