.bg {
  padding: 70px 0;
  background-color: $main-black;
  color: $main-grey-light;
  @include breakpoint(desktop) {
    padding: 70px 0;
  }
  @include breakpoint(tablet) {
    padding: 60px 0;
  }
  @include breakpoint(mobile) {
    padding: 33px 0 68px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  justify-content: space-between;

  @include breakpoint(mobile-wide) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto auto;
    row-gap: 32px;
  }
}

.logo {
  grid-column: 1;
  font-size: 20px;
  width: min-content;
  margin: 0;
  padding: 0;
  font-family: $main-text;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.nav {
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 471px;
  gap: 0;
  @include breakpoint(desktop) {
    min-width: 380px;
  }
  @include breakpoint(tablet-wide) {
    flex-direction: column;
    min-width: min-content;
    align-items: start;
    gap: 32px;
  }
  @include breakpoint(mobile-wide) {
    grid-column: 1;
    grid-row: 2;
    gap: 21px;
  }

  .nav_item {
    text-decoration: none;
    color: $main-grey-light;
    font-family: $add-text;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .nav_item:hover {
    color: $accent;
  }
  .nav_item:active {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.sm_block {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 144px;
  justify-self: end;
  @include breakpoint(tablet-wide) {
    align-items: start;
  }
  @include breakpoint(mobile) {
    grid-column: 2;
    grid-row: 1;
    width: 90px;
  }

  .sm_vk {
    display: block;
    width: 30px;
    height: 25px;
    background-image: url(../../assets/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 20px;
      height: 25px;
    }
  }

  .sm_inst {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../../assets/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 17px;
      height: 25px;
    }
  }

  .sm_tg {
    display: block;
    width: 28px;
    height: 25px;
    background-image: url(../../assets/tg.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 18px;
      height: 25px;
    }
  }
}
