.bg {
  width: 100%;
  display: flex;
  padding: 70px 0;
  justify-content: center;
  align-items: center;
  background-color: $main-black;
  color: $main-grey-light;
  @include breakpoint(desktop) {
    padding: 70px 100px;
  }
  @include breakpoint(tablet) {
    padding: 60px 100px;
  }
  @include breakpoint(mobile) {
    padding: 33px 16px 68px;
  }
}

.container {
  max-width: 1175px;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr;
  grid-auto-columns: max-content;
  justify-items: stretch;
  column-gap: 204px;
  height: auto;
  @include breakpoint(desktop) {
    column-gap: 80px;
  }
  @include breakpoint(mobile) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    row-gap: 32px;
    column-gap: 50px;
    width: 100%;
  }
  @include breakpoint(mobile-narrow) {
    column-gap: 10px;
  }
  @media screen and (max-width: 320px) {
    column-gap: 5px;
  }
}

.logo {
  grid-column: 1;
  font-size: 20px;
  width: min-content;
  margin: 0;
  padding: 0;
  font-family: $main-text;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.nav {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 471px;
  gap: 0;
  @include breakpoint(desktop) {
    width: 380px;
  }
  @include breakpoint(tablet) {
    flex-direction: column;
    width: min-content;
    align-items: start;
    gap: 32px;
  }
  @include breakpoint(mobile) {
    grid-column: 1;
    grid-row: 2;
    gap: 21px;
  }

  .nav_item {
    text-decoration: none;
    color: $main-grey-light;
    font-family: $add-text;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .nav_item:hover {
    color: $accent;
  }
  .nav_item:active {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.sm_block {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 144px;
  justify-self: end;
  @include breakpoint(tablet) {
    align-items: start;
  }
  @include breakpoint(mobile) {
    grid-column: 2;
    grid-row: 1;
    width: 121px;
  }

  @media screen and (max-width: 320px) {
    width: 90px;
  }

  .sm_vk {
    display: block;
    width: 30px;
    height: 25px;
    background-image: url(../../assets/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 20px;
      height: 25px;
    }
  }

  .sm_inst {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../../assets/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 17px;
      height: 25px;
    }
  }

  .sm_tg {
    display: block;
    width: 28px;
    height: 25px;
    background-image: url(../../assets/tg.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 18px;
      height: 25px;
    }
  }
}
