.bg {
  padding: 70px 0;
  background-color: $main-black;
  color: $main-grey-light;
  @include breakpoint(desktop) {
    padding: 70px 0;
  }
  @include breakpoint(tablet) {
    padding: 60px 0;
  }
  @include breakpoint(mobile) {
    padding: 33px 0 68px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  justify-content: space-between;
  align-items: start;

  @include breakpoint(mobile-wide) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: auto auto;
    row-gap: 32px;
  }
}

.logo {
  grid-column: 1;
  font-size: 20px;
  width: min-content;
  margin: 0;
  padding: 0;
  color: $main-grey-light;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.nav {
  grid-column: 2;

  @include breakpoint(mobile-wide) {
    grid-column: 1;
    grid-row: 2;
  }
}
