.container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include breakpoint(tablet) {
    padding-bottom: 72px;
  }

  @include breakpoint(mobile) {
    padding-bottom: 50px;
  }
}

.title {
  font-size: 32px;
  line-height: 45px;
  @include breakpoint(mobile) {
    font-size: 24px;
    line-height: 28px;
  }
}
